*.swp
*.*~
*.msi
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.map
*.log
000_[Tt]emp[Dd]ir
001_[Aa]ll[Bb]in
002_[Ll]ean[Bb]in
003_[Oo]bfuscated[Bb]in
004_[Pp]ackaged[Bb]in
005_[Ii]nstaller[Bb]in
006_[Bb]ootstrapper
[Bb]in
[Bb]inLanguages
StagingObfuscated
StagingUnobfuscated
[Dd]ebug*/
StagingObfuscated/
StagingUnobfuscated/
*.lib
*.sbr
StagingBundle/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
!wic_x64_enu.exe
!wic_x86_enu.exe
!WindowsServer2003-KB942288-v4-x64.exe
!WindowsServer2003-KB942288-v4-x86.exe
!WindowsXP-KB942288-v3-x86.exe
!Windows6.0-KB942288-v2.exe
!Windows6.0-KB942288-v2.exe
!_MaxCut.Bootstrapper/redist/NDP40-KB2468871-v2-x64.exe
!_MaxCut.Bootstrapper/redist/NDP40-KB2468871-v2-x86.exe
MaxCut.Installer/StagingObfuscated/Import/MaxCut.Report.dll
MaxCut.Installer/StagingUnobfuscated/Import/MaxCut.Report.dll
MaxCut.Service.Api/Logging/Log.txt
MaxCut.Service.Api/Input/*.xml
MaxCut.Service.Api/Output/*.xml
MaxCut.Service.Api/Output/Reports/*.pdf
